.filter-guidelines {
  display: none;
}

div.description, .form-item .description {
  font-size: 0.75rem;
}

fieldset {
  border: 1px solid #c0c0c0;
}

input.form-autocomplete, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, input.form-file, input.form-date, input.form-time, textarea.form-textarea {
  width: auto;
}

select {
  width: auto;
  height: 2rem;
  font-size: .9rem !important;
  margin-bottom: 0;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  margin-bottom: 0;
}

[type='file'],
[type='checkbox'],
[type='radio'] {
    margin: 0 0 0rem;
}

.ui-dialog {
  padding: 5px;
}

.ui-corner-all {
  border-radius: 0 !important;
  border: 0 !important;
}

.js-form-type-textarea.form-item {
  margin-bottom: 0;
}

.button.form-submit {
  margin-top: 0.9rem;
}

.ui-dialog-content form details {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #fcfcfa;
}

.ui-dialog-content form details.vertical-tabs__pane {
  border: 0;
}

.ui-dialog-content form .label {
  display: block;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  background: none;
  color: #464343;
  margin-top: 8px;
  font-weight: bold;
  margin-left: 6px;
  text-transform: uppercase;
}

.image-data__crop-wrapper {
  display: inline-block;
  padding: 0.45rem;
  margin-right: 10px;
}

.image-data__crop-wrapper[open] {
  display: block;
}

.ui-dialog-content form details summary {
    cursor: pointer;
    color: #0074bd;
    text-shadow: 0 1px 0 white;
    padding: 0rem 1.45rem;
}

details {
  line-height: 1.295em;
}
details summary {
  padding: 0.95em 1.45em;
}
details summary:focus {
  text-decoration: underline;
  outline: none;
}

