{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('footer-container grid-x grid-margin-x') }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {% if item.title == "Fresno County Superintendent of Schools"%}
      <li{{ item.attributes.addClass('cell large-5 medium-12 small-12 footer-section') }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
      {% elseif item.title == "CTEC High School"%}
      <li{{ item.attributes.addClass('cell large-3 medium-12 small-12 footer-section') }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
        <div class="footer-sub-container">
          <div class="icon-left">
          <a href="https://www.instagram.com/careertechedcharter/" target="_blank" class="social-link">
            <img class="header__social-icon" src="/themes/custom/ctec-clean/images/header__instagram.png">
          </a>
          </div>
          <div class="icon-center">
          <a href="https://www.facebook.com/careertechnicaleducationcharter/" target="_blank" class="social-link">
            <img class="header__social-icon" src="/themes/custom/ctec-clean/images/header__facebook.png">
          </a>
          </div>
          <div class="icon-right">
          <a href="https://www.youtube.com/user/FresnoCOE" target="_blank" class="social-link">
            <img class="header__social-icon" src="/themes/custom/ctec-clean/images/header__youtube.png">
          </a>
          </div>
        </div>
      </li>
      {% elseif 'Required State' in item.title %}
      <li{{ item.attributes.addClass('cell large-4 medium-12 small-12 footer-section') }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
      {% else %}
        <li{{ item.attributes.addClass('footer-subsection') }}>
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
      </li>
      {% endif %}
      
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
