{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{{ menus.menu_links(items, attributes, 0, 0) }}

{% macro menu_links(items, attributes, menu_level, top_bar) %}
  {% import _self as menus %}
  {% if items %}
    {% if top_bar %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('menu', 'vertical', 'medium-horizontal').setAttribute('data-responsive-menu', 'drilldown medium-dropdown') }}>
      {% else %}
        <ul class="submenu menu vertical" data-submenu>
      {% endif %}
    {% else %}
      {% if menu_level == 0 %}
        <ul{{ attributes.addClass('vertical', 'menu', 'mobile-menu', 'accordion-menu') }} data-accordion-menu data-submenu-toggle="true">
          <li class="mobile-menu__item mobile-menu__item--first"><a class="mobile-menu__link" href="https://ctec.schoolmint.net/signup">Apply Now</a></li>
      {% else %}
        <ul class="menu vertical nested">
      {% endif %}
    {% endif %}
    {% for item in items %}
      {% if top_bar %}
        {%
          set item_classes = [
            item.below is not empty ? 'has-submenu' ,
            item.is_expanded ? 'menu-item--expanded',
            item.is_collapsed ? 'menu-item--collapsed',
            item.in_active_trail ? 'menu-item--active-trail is-active',
          ]
        %}
      {% endif %}
      <li{{ item.attributes.addClass('mobile-menu__item') }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, top_bar) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
