{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
{% set counter = 0 %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
    <div class="sub-header-nav top-bar">
      <div class="top-bar-right sub-nav-right">
        <ul{{ attributes.addClass('dropdown menu sub-nav-menu') }} data-dropdown-menu>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      {% set counter = counter + 1 %}
      {% if counter % 3 == 0 %}
      <li{{ item.attributes.addClass('menu-item') }}>
        <span class="top-bar-link" style="padding: 0 10px; font-weight: bold; font-size: 18px;">|</span>
      </li>
      {% endif %}
      <li{{ item.attributes.addClass('menu-item') }}>
        {{ link(item.title, item.url, {'class': ['top-bar-link']}) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    </div>
    </div>
  {% endif %}
{% endmacro %}
