{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}



  {% set notification_title = content.field_notification_header['#items'].getValue()|first.value %}
  {% set notification_description = content.field_notification_description['#items'].getValue()|first.value %}
  {% set notification_image_uri = content.field_notification_image[0]['#media'].field_media_image.entity.uri.value %}

<div{{ attributes.addClass('notification row collapse') }}>

  {{ title_prefix }}
  {{ title_suffix }}

  <div class="columns medium-2">
    <img src="{{ notification_image_uri|image_style('large') }}" />
  </div>
  <div class="columns medium-7 large-offset-2 notification-info">
    <h3>{{ notification_title }}</h3>
    <p>{{ notification_description }}</p>
  </div>
  <div {{content_attributes.addClass('columns medium-3') }}">
    <a class="button-arrow button-arrow--light-blue" href="{{ content.field_notification_link.0['#url'] }}">{{ content.field_notification_link.0['#title'] }}</a>
  </div>
</div>

