{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{% set title__background_image_uri = content.field_title__background_image[0]['#media'].field_media_image.entity.uri.value %}

{% if block.delta != 'main' %}

<div class="page-title__container">
  {{ title_prefix }}

    <h2{{ title_attributes }}>{{ page_title }}</h2>
  {{ title_suffix }}
</div>

  <style type="text/css">

  .page-title__container {
    background: linear-gradient(rgba(8,46,109,0.5),rgba(8,46,109,0.5)), url("{{ file_url(title__background_image_uri) }}");
    background-size: cover, cover;
    background-position: center center, center center;
    border-bottom: 6px solid #082E6D;
  }

  .page-title__container h2 {
    font-size: 50px;
    line-height: 72px;
    color: #ffffff;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 120px;
    margin: 0;
  }


  .masthead__content {
    background-color: rgba({{ masthead__feature_color }}, 0.5) !important;
    {% if masthead__content_align|lower == 'left' %}
      left: 0 !important;
      right: auto !important;
    {% elseif masthead__content_align|lower == 'right' %}
      left: auto !important;
      right: 0 !important;
    {% else %}
      left: 0 !important;
      right: auto !important;
    {% endif %}
  }

@media only screen and (max-width: 1280px) {
  .masthead__container {
    height: {{ masthead__height * 0.85 }}px !important;
  }
}

  .masthead__slide {
    object-position: {{ masthead__image_position|lower }} !important;
  }

  </style>
  {% endif  %}
