{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - block.subject: Block title.
 * - content: Block content.
 * - block.module: Module that generated the block.
 * - block.delta: An ID for the block, unique within each module.
 * - block.region: The block region embedding the current block.
 * - classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable classes_array from
 *   preprocess functions. The default values can be one or more of the following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user module
 *     is responsible for handling the default user navigation block. In that case
 *     the class would be "block-user".
 * - title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable classes.
 * - block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - zebra: Same output as block_zebra but independent of any block region.
 * - block_id: Counter dependent on each block region.
 * - id: Same output as block_id but independent of any block region.
 * - is_front: Flags true when presented in the front page.
 * - logged_in: Flags true when the current user is a logged-in member.
 * - is_admin: Flags true when the current user is an administrator.
 * - block_html_id: A valid HTML ID and guaranteed unique.
 * - content_attributes: Raw HTML attributes for block content.
 * - title_attributes: Raw HTML attributes for the block title tag.
 *
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see template_process()
 */
#}
{% if block.delta != 'main' %}
  {%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
  %}

  {% set media_card__card_title = content.field_media_card__card_title['#items'].getValue()|first.value %}
  {% set media_card__image_uri = content.field_media_card__image[0]['#media'].field_media_image.entity.uri.value %}

<div{{ attributes.addClass('media-card__container row') }}>

  {{ title_prefix }}
  <!-- <h2 {{ title_attributes }}>{{ label }}</h2> -->
  {{ title_suffix }}

  <div class="media-card__image-container columns large-5{{ layout_push }}">
      <img class="media-card__image" src="{{ media_card__image_uri|image_style('large') }}" />
  </div>

  <div class="media-card__content columns large-7{{ layout_pull }}">
    {% if media_card__card_title %}
      <h2 class="media-card__title">{{ media_card__card_title }}</h2>
    {% endif %}
    <div class="media-card__subtext">{{ content.body }}</div>
    <div class="media-card__links">{{ content.field_media_card__file_link }}</div>
  </div>

</div>

  {% endif %}
