// Non-modular or client styles for .l-footer region.
//Footer Styling
.footer {
    box-shadow: rgba(254, 254, 254, 0.7) 0px 8px 24px;
    padding-bottom: 2rem;
    background-color: #002244;
    color: white;
    .footer-container {
      margin-left: 2rem;
      margin-right: 2rem;
      max-width: 100%;
      * {
        color: white;
      }
    }
    p {
      margin-bottom: 0.5rem;
    }
    .footer-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 200px;
      }
    }
  }
  
  .footer-header {
    border-bottom: 1px solid white;
    // width: 80%;
  }
  .footer-sub-container {
    display: flex;
    //justify-content: center;
    gap: 1rem;
    .header__social-icon {
      margin: 0;
      border-radius: 10px;
    }
  }
  
  // Block footer styling
  .footer {
    box-shadow: rgba(44, 201, 17, .8) 0px -7px;
    max-width: 100vw;
    padding-bottom: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    div.medium-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .footer-container {
      margin-left: 0;
      margin-right: 0;
      li {
        span {
          display: block;
          font-size: 1.5rem;
          font-weight: bold;
          border-bottom: 1px solid white;
          width: 100%;
        }
        ul {
          list-style: none;
          margin-left: 0;
          margin-top: 0.5rem;
          li {
            a {
              padding-left: 0;
              padding: 0.5rem 0 0.5rem 0;
            }
            &:hover {
              text-decoration: underline .15em rgba(44, 201, 17, 1);
              transition: ease-in-out 500ms;
              
            }
          }
        }
        .footer-sub-container {
          a {
            padding: 0.5rem 0 0 0;
          }
        }
      }
      
    }
  }
  
  .field-block-content--field-fcss-logo {
    .field-items {
      margin-left: 2rem;
      
    }
  }