// Non-modular or client styles for .l-header region.
.region--header {
    margin-top: 1rem;
    .header__nav {
        margin-top: 0;
        .header__contact-information {
            margin-top: 0;
        }
    }
  .menu--primary {
    align-items: center;
    .mobile-menu__item {
      a, span {
        padding: 0.7rem 1rem;
        color: $ctec-blue;
      }
    }
  }
}
@media only screen and (max-width: 640px) {
  .region--header {
    .header__nav {
      margin-top: 1rem;
    }
  }
  
}
@media only screen and (min-width: 640px) and (max-width: 1200px) {
  #block-ctecclean-cheeseburgermenutrigger {
    margin-right: 1rem;
  }
  
}
