//Top Bar
//mobile styling
 .sub-header-nav.top-bar {
  background-color: #002244;
  margin-bottom: 1rem;
  padding-top: 0;
  .top-bar-right {
    background-color: #002244;
    .sub-nav-menu {
      background-color: #002244;
      a, span {
        background-color: #002244;
        color: white;
      }
    }
  }
 }

// Styling for non mobile

@media only screen and (min-width: 1024px) {
  .sub-header-nav.top-bar {
    background-color: white;
  }
  .region--header {
    .header__nav {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 0;
    }
    .header__contact-information {
      margin-top: 1rem;
    }
    .menu--primary {
      li {
        a, span {
          padding: 0 1.25rem;
        }
      }
    }
  }
  header.page {

    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .sub-header-nav {
    background: white;
    padding: 0;
    .top-bar-right {
        height: fit-content;
    max-height: 20px;
    background: #024;
    padding: 1rem;
    border-bottom-left-radius: 40px;
    display: flex;
      .sub-nav-menu {
        align-items: center;
        background-color: #002244;
        flex-wrap: nowrap;
        .menu-item {
            span.top-bar-link {
                padding: 0 10px; 
                font-weight: bold; 
                font-size: 18px;
            }
        }
        .top-bar-link {
          font-size: 16px;
          white-space: nowrap;
          padding: 0 12px;
          
        }
        a:hover {
          transition: ease-in-out 300ms;
          text-decoration: underline .15em rgba(44, 201, 17, 1);
        }
        
      }
    }
    .header__social-icon {
      margin: 0;
      border-radius: 5px;
    }
    .sub-nav-right {
      .menu-item {
        .top-bar-link {
          background-color: #002244;
          color: white;
        }
      }
      
    }
  }
  .header__contact-information {
    padding-right: 1.5rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 1200px) {
  .sub-header-nav {
    display: none;
  }
}