// statistics section
.media-card__content {
    width: 100%;
    position: absolute;
      color: white;
      font-size: 32px;
    .stats-container {
      width: 100%;
    }
    .media-card__title {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }
    .stats-inner-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .stats-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 25%;
        p {
          font-size: 1rem;
          margin-bottom: 0;
        }
        .stats-header {
          color: white;
        }
        .fi-book, .fi-wrench, .fi-torsos-all {
          font-size: 3rem;
        }
        .fi-torsos-all {
          height: fit-content;
        }
      }
    }
    
    
  }
  .media-card__container {
    width: 100vw;
    max-width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 9rem;
    .media-card__image {
      transform: skewY(4deg);
      width: 100%;
      max-height: 500px;
      box-shadow: rgba(44, 201, 17, .8) -7px 7px;
    }
    .media-card__image-container {
      width: 100%;
      padding: 0;
    }
  }
  
  
  // Using views to build banner
  
  .banner-outer-container {
    transform: skewY(4deg);
    background: linear-gradient(180deg, #095aa9 0, #0e1435 100%);
    box-shadow: rgba(44, 201, 17, .8) -7px 7px;
    //margin-top: 3rem;
    z-index: 1;
    position: relative;
    .block-title {
      transform: skewY(-4deg);
      margin-top: 2rem;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
    }
    .banner-inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .banner-edit {
        color: white;
      }
      // View styling
      
      .field-name-field-banner-item-reference, & > div:first-of-type  {
        padding-bottom: 5rem;
        padding-top: 5rem;
        .field-items {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          transform: skewY(-4deg);
          margin: 1rem 2rem;
          text-align: center;
          .field-item {
            .views-row {
              width: 100%;
              max-width: 100%;
            }
        }
        }
        
        .stats-text {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .field-content {
          i {
            color: white;
          }
          p {
            color: white;
          }
        }
        .stats-header {
          color: white;
          a {
            color:white;
          }
        }
      }
    }
  }
  
  
  .fi-book, .fi-wrench, .fi-torsos-all {
    font-size: 3rem;
  }
  .fi-torsos-all {
    height: fit-content;
  }