/****************************
Card (Custom Block Type)
****************************/
.card-secondary-container {
    width: 80%;
    margin: auto;
}
.card-item {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 41px;
    background-color: $gray-light;
    max-width: 400px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .__title {
      margin: 0;
      padding: 14px 20px;
      color: #2CC911;
      background-color: $blue-dark-transparent;
      font-size: 1.25vw;
    }
    .__container {
      position: relative;
    }
    .field-block-content--field-bt__card-item__description {
      padding: 18px 24px 5px 20px;
      color: $blue-dark;
      background: $gray-light;
      font-size: rem-calc(14px);
      line-height: 1.5;
    }
    .link-list {
      margin: 0;
      padding:0;
      list-style-type: none;
      font-size: rem-calc(15px);
      &__item {
        padding: 1rem;
      }
    }
    &__link {
      padding: 12px 20px;
      border-bottom: 3px solid #fff;
      font-weight: 700;
      &:last-child {
        border-bottom: 3px solid $gray;
      }
      a {
        display: block;
        margin-left: 0;
        padding-left: 22px;
        color: $blue-dark;
        background: transparent url(/themes/fcss/images/icon_link.png) no-repeat 0 5px;
        background-size: 16px 16px;
        font-size: rem-calc(14px);
      }
    }
  }
  .card-item-list {
    margin-left: 0;
  }
  .card-link {
    a {
      background-color: #b1c9e8;
      padding: 0.5rem 1rem;
      border-radius: 5rem;
      width: fit-content;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  
  #block-pagetitle > h1 {
    margin-top: -10px;
    margin-bottom: 12px;
    padding-top: 0;
  }
  