// Counseling View Blocks styling
.counseling-resources {
    max-width: 80vw;
    margin: auto;
    h2 {
        color: #082E6D;
        margin-bottom: 1rem;
    }
    h3 {
        color: #2CC912;
    }
}
.counseling-wrapper {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    hr {
        max-width: 100%;
        width: 100%;
    }
    ul {
        list-style: none;
    }
    a {
        font-weight: 600;
        &:hover {
            text-decoration: underline #2CC912 3px;
        }
    }
}