.event-full {
    margin-left: 2rem;
    margin-right: 2rem;
    .view-mode-full {
        display: flex;
        flex-direction: column;
        .field-label {
            font-size: 32px;
            font-weight: bold;
            color: #002244;
        }
        .field-node--field-event-images {
            .field-items {
                display: block;
            }
            .field-item {
                img {
                    width: 100%;
                    max-height: 400px;
                    object-fit: cover;
                    height: auto;
                }
            }
        }
        .field-node--field-event-images {
            box-shadow: none;
        }
    }
}