// Hero Video Component
.block-ctecclean-content {
    max-width: 100vw;
  }
  .hero-video-outer-container, .row {
    max-width: 100vw;
    //margin-bottom: 5rem;
  }
  .hero-video-outer-container {
    margin-bottom: 2rem;
  }
  .medium-12 {
    padding: 0;
  }
  .hero-video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .field-type-text-with-summary {
      position: absolute;
      z-index: 1;
      color: rgb(44, 201, 18);
      background: rgba(0,0,0,0.6);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .field-items {
        width: 100%;
        height: 100%;
        .field-item {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 100%;
          p {
            margin-bottom: 0;
            a {
              color: white;
              background: #2CC912;
              padding: 0.5rem;
            }
          }
          h2 {
            color: rgb(44, 201, 18);
            max-width: 50%;
            text-align: center;
            font-size: min(3vw, 36px)
          }
          p {
            font-size: min(3vw, 24px)
          }
          .sub-header {
            .button {
              background-color:#2CC912; 
            }
          }
        }
      }
    }
    .field-block-content--field-hero-video-source {
      width: 100%;
      .hero-video-field-item {
        .field-media--field-media-video-file {
          .field-items {
            max-height: 70vh;
          }
        }
      }
    }

    video {
      // max-width: 100%;
      width: 100%;
      object-fit: cover;
      max-height: 70vh;
      height: 100%;
      //background:rgba(0,0,0,1);
  
    &:before {
      background:rgba(0,0,0,1);
    }
    }
  }