// instagram block styling
  .ig-post {
    .views-field-nothing {
      height: 100%;
      .field-content {
        height: 100%;
        display: block;
      }
    }
    max-width: 550px;
  }
  .ig-container {
    height: 100%;
    margin-top: 2rem;
    .views-element-container {
      max-width: 90vw;
      width: 100%;
      margin: auto;
    }
    .medium-12 {
      div {
        h2.block-title {
          text-align: center;
          color: #082e6d;
          font-weight: bold;
        }
      }
    }
  }
  
  .homepage__employees {
    padding: 0;
    .medium-8 {
      padding-top: 0;
    }
    .item-card {
      margin-top: 0;
    }
  }
  .instagram-container {
    ul {
      list-style-type: none;
      margin: 0 1.25rem 0 1.25rem;
    }
    .instagram-carousel {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      justify-content: center;
      max-width: 100%;
      gap: 2rem;
      img {
        box-shadow: rgba(254, 254, 254, 0.7) 0px 8px 24px;
        color: rgb(14, 27, 65);
      }
    }
  }
  //IG App styling
.ig-section {
    .medium-12 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .ig-block {
    .ig-inner-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      max-height: 550px;
      height: 100%;
      min-height: 500px;
      .ig-text-container {
        position: absolute;
        color: white;
        height: 100%;
        display: grid;
        background-color: rgba(0,0,0,.0);
        grid-template-columns: 1fr;
        grid-template-rows: 85% 15%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        &:hover {
          .ig-body {
             display: block;
          }
        }
        .ig-body {
          padding-top: 2rem;
          padding-left: 2rem;
          padding-right: 2rem;
          width: 100%;
          color: white;
          overflow: hidden;
          height: 100%;
          display: none;
          p {
            display: none;
          }
          &:hover {
            background-color: rgba(0,0,0,.7);
            transition: ease-in 150ms;
            p {
              display: block;
            }
            
          }
        }
        .ig-link {
          align-items: center;
          background-color: black;
          padding: 1rem 0;
          width: 100%;
          .fi-social-instagram {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.75rem;
          }
        }
        .ig-profile-link {
          color: white;
          align-items: center;
          font-size: min(5vw, 18px);
        }
      }
      @media only screen and (min-width: 2000px) {
        .ig-inner-container {
          max-height: 550px;
        }
        img {
          height: 100%;
          object-fit: cover;
          max-height: 550px;
        }
      }
      @media only screen and (max-width: 1999px) {

        
        img {
          object-fit: cover;
          max-height: 450px;
        }
      }
      img {
        height: 100%;
        width: 100%;
        
      }
    }
  }