// Styles for Key Event View Block
.upcoming-events-wrapper {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
  .field-block-content--field-event-entity-reference {
    .event-list__image-event {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      gap: 2rem;
      img {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .date-text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1 1 0px;
        max-width: 400px;
        text-align: center;
        background-color:#082e6d;
        box-shadow: rgba(44, 201, 17,.8) -7px 7px;
        transform: skewY(-3.5deg);
      }
    }
  }
  .field-node--field-event-images {
    .field-items {
      display: flex;
      justify-content: center;
    }
  }