// News Block
.news-container {
    margin-top: 2rem;
  }
  .news-header {
    text-align: center;
    margin-bottom: 1rem;
    color:#082E6D;
  }
  .news-inner-container {
    .field-block-content--field-news-item-reference {
      .field-items {
        display: flex;
        justify-content: center;
      }
    }
    .video-card {
      width: 100%;
    }
  }