// Story Styling
.story-block-container {
  .block-title {
    text-align: center;
    color: #082E6D;
    margin-top: 3rem;
    font-weight: bold;
  }
}
.field-block-content--field-story-reference {
    @media only screen and (max-width: 1105px) {
      div.field-items {
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        div.field-item {
          max-width: 100%;
        }
        
      }
    }
    // styling for one story
    
    .story-block.grid-x {
      //margin-top: 0;
      div.story-row.cell.large-4 {
        width: 100% !important;
        .stories-main-container {
          margin: auto;
        }
      }
    }

    .stories-main-container {
      display: flex;
      justify-content: center;
      gap: 3rem;
      .stories-img {
        max-width: 50%;
        display: flex;
        justify-content: center;
      }
      .stories-text-container {
        max-width: 50%;
      }
    }
    // end styling for one story
    .field-items {
      display: flex;
      justify-content: center;
      .field-item {
        margin: 0 1rem 0 1rem;
      }
    }
    .stories-main-container{
      max-width: 100%;
      img {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        height: 100%;
        object-fit: cover;
        max-height: 400px;
        
      }
    }
  }
  .story-block {
    //margin-top: 8rem;
    gap: 5rem;
    .story-container {
      .field-content {
        display: flex;
        justify-content: center;
      }
    }
    .story-title {
      color: #082E6D;
    }
    .stories-text-container {
      a {
        color: #33CB22;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
  
  // More stories carousel styling
  .field-node--field-link-to-more-stories {
    .story-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2, h4 {
        color: #082e6d;
      }
    }
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
    .slick-prev, .slick-next {
      width: 50px;
        height: 50px;
      &:before, &:after {
        color:#082E6D !important;
        font-size: 50px;
      }
    }
  }
  
  @media only screen and (max-width: 2000px) {
    .field-block-content--field-story-reference .stories-main-container {
      gap: 1rem;
      display: block;
      margin: 0 5rem;
      .stories-img {
        width: 100%;
        max-width: none;
        display: block;
        img {
          width: 100%;
          max-height: 400px;
        }
      }
      .stories-text-container {
        max-width: 100%;
        margin-top: 1rem;
        width: 100%;
      }
      
    }
    .stories-main-container {
      flex-direction: column;
      align-items: center;
      .stories-img {
        width: 100%;
      }
    }
  }
  .field-block-content--field-story-reference {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    .field-items {
      gap: 3rem;
      .field-item {
        max-width: 50%;
        margin: 0;
      }
    }
    div.field-item:only-of-type {
     .stories-main-container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: flex-start;
      gap: 3rem;
      max-width: 1000px;
      .stories-text-container {
        margin-top: 0;
      }
     } 
    }
  }
  // individual story page 
.individual-story {
    max-width: 70vw;
    margin: auto;
    //block quote styling
    blockquote {
      border-left: 3px solid #cacaca;
      background: #f1f1f1;
      p {
        font-weight: bold;
        color: black;
      }
    }
    .view-mode-full {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .field-node {
        &--body {
          margin-left: 1rem;
          margin-right: 1rem;
          .field-items {
            .field-item {
              img {
                margin: 1.5rem;
              }
              .field-media--field-media-video-file {
                max-width: 1200px;
                video {
                  max-width: 1200px;
                  width: 100%;
                }
              }
            }
          }
        }
        &--field {
          &-display-image {
            img {
              width: 100%;
              max-height: 600px;
              object-fit: cover;
            }
          }
        }
      }
    }
    
  }

  //Story styling 2 stories view block
  .stories-main-container {
    max-width: 750px;
  }
  .stories-img {
    a {
      width: 100%;
      display: block;
      img {
        width: 100%;
        max-height: 400px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;
      }
    }
  }

  @media only screen and (max-width: 640px) {
    .story-block-container {
      max-width: 80vw;
      margin: auto;
    }
  }
  //story carousel styling
  .story-block-carousel {
    header, h4 {
      color: #082E6D;
    }
  }