//hero image styling
.experience-wrapper {
    // margin-left: 1.4722rem;
    //   margin-right: 1.4722rem;
    .hero-image-outer {
      display: flex;
      justify-content: center;
    }
  }
  .hero-image-outer {
    position: relative;
    width: 100%;
    max-height: 50vh;
    margin-top: 3rem;
    .hero-image-container {
      position: relative;
      justify-content: center;
      align-items: center;
      height: 50vh;
      width: 95vw;
      max-height: 50vh;
      .button {
        background:rgb(44, 201, 18);
        font-weight: bold;
      }
      .hero-image-inner {
        .block-title {
          position: absolute;
          z-index: 99;
          color: white;
          top: 20%;
        }
      }
      img {
        position: absolute;
        width: 100%;
        max-height: 50vh;
        object-fit: cover;
      }
      .field-block-content--field-hero-video-source {
        width: 100%;
      }
      .field-type-text-with-summary {
        position: absolute;
        z-index: 1;
        color: white;
        background: rgba(14, 25, 63, 0.7);
        width: 100%;
        height: 100%;
        .field-items {
          text-align: center;
          height: 100%;
          .field-item {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2 {
              color: rgb(44, 201, 18);
              text-align: center;
              margin-bottom: 0;
              font-size: min(7vw, 38px);
              font-weight: bold;
            }
            p:nth-child(3) {
              margin: 0;
              padding: 0.5rem 1rem;
                background-color: #2CC911;
              a {
                color: white;
              }
            }
            .sub-header {
              .button {
                background-color:#2CC912; 
              }
            }
          }
        }
      }
    }
  }