@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap');


@font-face {
    font-family: 'gilroy-black';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-blacki';
    src: url('../fonts/gilroy-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-boldi';
    src: url('../fonts/gilroy-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-ebold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-eboldi';
    src: url('../fonts/gilroy-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-heavy';
    src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-heavyi';
    src: url('../fonts/gilroy-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-lighti';
    src: url('../fonts/gilroy-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-mediumi';
    src: url('../fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-regular';
    src: url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-regulari';
    src: url('../fonts/gilroy-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-sbold';
    src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-sboldi';
    src: url('../fonts/gilroy-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-thin';
    src: url('../fonts/gilroy-thin-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-thini';
    src: url('../fonts/gilroy-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-ulight';
    src: url('../fonts/gilroy-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gilroy-ulighti';
    src: url('../fonts/gilroy-ultralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
