
/* default styles */

.layout-builder {
  padding: 0;
  border: 0;
}

.layout-builder--content-preview-disabled.layout-builder {
  padding: 1.5625em 1.5625em 0 1.5625em;
  border: 3px solid $ctec-blue;
}


.layout-builder__link--configure,
.layout-builder__link--remove,
.layout-builder__add-section,
.layout-builder__add-block {
  display: none;
}

.layout-builder__section {
  margin-bottom: 0;
}

.layout-builder--content-preview-disabled .layout-builder__section {
  margin-bottom: 1.5em;
}

.layout-builder--content-preview-disabled .layout-builder__link--configure,
.layout-builder--content-preview-disabled .layout-builder__link--remove,
.layout-builder--content-preview-disabled .layout-builder__add-section {
  display: inline-block; 
}

.layout-builder--content-preview-disabled .layout-builder__add-block {
  display: block;
}

/* content pane view */

.layout-builder-block {
  padding: 0 !important;
}

.layout-builder-block.hero-image {
  overflow: visible;
}

.layout-builder--content-preview-disabled .layout-builder-block {
  background: #ffffff !important;
}

.layout-builder__add-section {
  width: 10%;
  margin-bottom: 1.5em;
  padding: 5px 0;
  text-align: center;
  outline: 0;
  background: none;
  background-color: $ctec-blue;
  margin-left: 0;
  font-weight: bold;
  color: #ffffff;
}

.layout-builder-block__content-preview-placeholder-label {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.layout-builder--content-preview-disabled .layout-builder-block {
  margin: 0 0 10px 0;
  height: auto !important;
  min-height: auto !important;
  border: 2px dashed #979797;
  padding: 10px !important;
}

/* restyling for the edit page */

.layout-builder--content-preview-disabled .layout-builder__add-section {
  margin-left: -28px;
}

.layout-builder__link--add {
    padding-left: 0;
    color: #fff;
    border-bottom: none;
    background: none;
}

.layout-builder__link--remove {
    margin-bottom: 10px;
    margin-left: -2px;
  }


.layout-builder__add-block {
    padding: 10px 0;
    text-align: center;
    background-color: #eff6fc;
    clear:both;
}

.layout-builder__add-block a {
    color: #565656;
    font-weight: bold;
  }

.layout-builder--content-preview-disabled .layout-builder-block {
    text-align: center;
  }

.path-node div[role=contentinfo], .path-frontpage div[role=contentinfo] {
  margin-top: 0 !important;
  margin-bottom: 1.5rem !important;
}

[data-drupal-messages] {
  display: none !important;
}

#layout-builder [data-drupal-messages] {
  display: block !important;
}

.node-page-layout-builder-form {
  border-top: 6px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
}

/* hide revisions */
#node-page-layout-builder-form > .form-item {
  display: none !important;
}


#block-ctecclean-help,
.layout-builder__message {
  display: none;
}

.layout-builder__region {
    outline: 0px;
}

.node-page-layout-builder-form,
.entity-view-display-layout-builder-form {
  @include grid-col-row( 0 );
}

#layout-builder {
  margin-bottom: 80px;
}
