/***** Header *****/

article[typeof="schema:Article"] {
  .page-title__container {
    background: linear-gradient(rgba(8,46,109,0.8),rgba(8,46,109,0.8)), url("/sites/ctec.fcoe.org/files/2020-11/Project-%20Based%20Learning.JPG");
      background-size: cover, cover;
    background-position: center center, center center;
    border-bottom: 6px solid #082E6D;
    margin-bottom: 40px;
  }


  .page-title__container h2 {
    padding-top: 40px;
    text-align: center;
  }
}


header.page {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
}

/***** Sidebar Navigation *****/

nav.side-nav,
.link-list {
  margin-top: 10px;
  border: 1px solid #dddddd;
  padding: 14px 24px 4px;
  h2 {
    margin: 0;
    padding: 0;
    color: $ctec-green;
    font-size: rem-calc(22px);
    line-height: rem-calc(36px);
    text-transform: uppercase;
    font-family: "gilroy-bold", Helvetica, sans-serif;
    letter-spacing: 1px;
  }
}

.menu--primary {
  float: right;
  > li {
    font-family: "gilroy-bold", Helvetica, sans-serif;
    font-size: rem-calc(19px);
    line-height: rem-calc(19px);
    color: $ctec-blue;
    padding: 0; 
    ul li {
      font-family: "nunito";
      font-size: rem-calc(16px);
    }
    > a {
      color: $ctec-blue;
      &:hover {
        color: $ctec-blue;
      }
    }
    &:last-child > a {
      color: $ctec-green;
    }
  }
}

.dropdown.menu>li>a {
  padding: 0 12px;
}
.dropdown.menu>li.opens-right>.is-dropdown-submenu {
  z-index: 100;
}
.dropdown.menu>li.is-dropdown-submenu-parent>span {
  cursor: pointer;
  padding-right: 1.5rem;
  &::after {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    content: "";
    border-bottom-width: 0;
    border-color: #082e6d transparent transparent;
    right: 5px;
    left: auto;
    margin-top: -3px;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
    
}

.fc.fc-unthemed {
  padding-top: 50px;
  border-top: 6px solid #eeeeee;
}

#block-ctecclean-local-tasks {
  float: right;
  margin-top: 30px;
  @include grid-row();
}


.link-list {
    .field-item {
      width: 100%;
      display: block;
      border-bottom: 1px solid #dddddd;
      &:last-child {
        border-bottom: 0;
      }
      a {
        font-size: rem-calc(17px);
        line-height: rem-calc(17px);
        display: block;
        padding: 17px 0;
        font-family: "gilroy-medium", "Nunito", Helvetica, sans;
        color: $ctec-blue;
      }
    }
  }


.menu--secondary {
    li {
      width: 100%;
      display: block;
      border-bottom: 1px solid #dddddd;
      &:last-child {
        border-bottom: 0;
      }
      a {
        font-size: rem-calc(17px);
        line-height: rem-calc(17px);
        padding: 17px 0;
        font-family: "gilroy-medium", "Nunito", Helvetica, sans;
        color: $ctec-blue;
      }
    }
  }



.breadcrumbs {
  font-family: 'gilroy-sbold';
  letter-spacing: 1px;
  color: $ctec-blue;
  padding: 33px 0 13px;
  margin-left: 2rem !important;
  li {
    font-size: rem-calc(17px) !important;
    line-height: rem-calc(17px);
    a {
      color: $ctec-blue;
    }
    &:not(:last-child)::after {
      position: relative;
      margin: 0 7px;
      opacity: 1;
      content: "/";
      color: #cacaca;
    }
  }
}

.sub-header {
  font-family: "gilroy-regular";
  font-size: rem-calc(36px);
  line-height: rem-calc(51px);
  color: $ctec-blue;
  padding-bottom: 0;
  margin-bottom: 28px;
}


.header {
  &__contact-information {
    text-align: right;
  }
  &__social-icon {
    display: inline-block;
    height: 30px;
    margin-bottom: 19px;
    margin-left: 19px;
  }
}

.fcss-runner {
  background: transparent url("../images/fcss-runner__bg.png") repeat-x top left;
  height: 65px;
  color: #666666;
  padding: 0px;
  .row {
    height: 65px;
    background: transparent url(../images/runner__logo.png) no-repeat 14px 0;
  }
  &__title {
    margin-left: 70px;
  }
  &__title,
  &__superintendent {
    font-size: rem-calc(15px);
    line-height: rem-calc(45px);
    display: inline-block;
    margin-right: 18px;
  }
}

.footer {
  background: #f4f6f8;
  padding-top: 30px;
  margin-top: 80px;
  flex-wrap: nowrap;
  .footer-container {
    flex-wrap: nowrap;
  }
  .row {
    background: transparent url(/themes/v2ctec/images/Image__fcoe-logo.png) no-repeat 30px 10px;
    font-size: rem-calc(16px);
    padding-bottom: 30px;
  }
  &--first h5,
  &--first p {
    margin-left: 205px;
  }
  h5 {
    margin-right: 40px;
    font-family: "gilroy-sbold", helvetica, sans-serif;
    font-size: rem-calc(20px);
    line-height: rem-calc(24px);
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dddddd;
  }
}

.body {
  h3 {
    color: $ctec-blue;
  }
  h2 {
    color: $ctec-blue;
    font-family: "gilroy-medium";
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 35px;
  }
}

ul.slick-dots {
    text-align: right;
    margin-right: 40px;
    position: absolute;
    float: right;
    margin-left: 300px;
    bottom: 30px;
    left: auto;
    right: 0;
    width: 100px;
}

.slick-dots li button::before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    content: " " !important;
    border-radius: 15px;
    background-color: $ctec-green;
    text-align: center;
    opacity: 0.55;
    color: black;
    -webkit-font-smoothing: antialiased;
  }

.slideshow {
    border-bottom: 6px solid $ctec-blue;
    .slick-slide {
      height: 460px;
    }
  > div {
    height: 460px;
    position: relative;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
  }
  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    background: rgba(23,53,102,0.8);
    padding: 20px 40px;
  }
  h3, p {
    color: #ffffff;
  }
  p {
    font-size: rem-calc(16px);
  }
  .field-item img {
    object-fit: cover;
    object-position: center center;
    height: 460px;
  }
  .ctec-button img {
    margin-bottom: 16px;
    height: 40px;
  }
  position: relative;
  &__slide--first {
    background: transparent url("../images/slides/Slide__1.jpg");
  }
  &__slide--second {
    background: transparent url("../images/slides/Slide__2.jpg");
  }
  &__slide--third {
    background: transparent url("../images/slides/Slide__3.jpg");
  }
  &--home {
    margin: 0 !important;
  }
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  align-content: stretch;
}
.item {
  background: #cccccc;
  flex: 1 1 33.3333%;
  margin: 0px;
}

.notification {
  display: flex;
  align-items:center;
  margin-top: 40px;
  background: #f4f6f8;
  position: relative;
  .medium-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    }
  }
  
  .medium-3 {
    text-align: center;
    a {
      display: inline-block;
      margin: 0 auto;
      text-align: center;
    }
  }
  .notification-info {
    display: inline-block;
    float: left;
    padding: 20px 0 10px 40px;
    h3 {
      padding-left: 40px;
      font-size: rem-calc(28px);
      margin-bottom: 0;
    }
    p {
      padding-left: 40px;
      font-size: rem-calc(16px);
    }
  }
  .link-out {
    display: inline-block;
    text-align: right;
    float: right;
    a {
      display: inline-block;
      vertical-align: middle;
      line-height: 148px;
      height: 100%;
      margin-top: 35px;
      margin-right: 50px;
      @include breakpoint(xlarge down) {
        margin-top: 25px;
      }
    }
  }
}

 .video-card__container {
  padding-top: 125px;
  padding-bottom: 95px;
  h3 {
    padding-top: 15px;
    font-size: rem-calc(24px);
    line-height: rem-calc(50px);
    font-family: "gilroy-bold", helvetica, sans-serif;
  }
  .video-card__thumb {
    display: inline-block;
    position: relative;
  }
  .video-card__thumb:after {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 84px;
  background: url('/themes/ctecclean/images/playbtn.png');
  background-size: cover;
  content: '';
pointer-events: none;
  }
  img {
    max-width: 100%;
  }
 }

 #block-ctecclean-views-block-contact-block-2 {
  @include grid-row();
  padding-left: 0;
  padding-right: 0;
 }

 .block-ctecclean-content {
  @include grid-row();
  border-top: 0px solid $ctec-blue;
 }

 .user-login-form {
  max-width: 450px;
  margin: 50px auto;
 }

#block-ctecclean-local-tasks {
  position: absolute;
  right: 26px;
  bottom: -40px;
  padding: 0;
  margin-bottom: 0;
}

.region--header {
  position: relative;
  img.header__logo {
    height: 102px;
    width: 218px;
  }
  nav {
    @include show-for('xlarge');
  }
    .mobile-menu-button {
      @include hide-for('xlarge');
    }
  .header {
    &__contact-information {
      @include show-for('xlarge');
    }
  }
  .button-group {
    margin-bottom: 20px;
    font-size: rem-calc(15px);
    padding: 0px;
    font-family: 'gilroy-sbold';
    a {
      padding: 8px 12px;
    }
  }
}



.item-card {
  margin-top: 10px;
  h2 {
    background: #f4f6f8;
    font-family: 'gilroy-bold', Helvetica, Arial, sans-serif;
    color: $ctec-blue;
    letter-spacing: .04rem;
    font-size: rem-calc(20px);
    line-height: rem-calc(20px); 
    padding: 23px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
}

.letter__img .event-list__image-event a {
  padding-top: 15px;
}

.event-list {
  position: relative;
  font-family: 'gilroy-medium';
  &__event {
    time {
      display: block;
      font-family: 'gilroy-bold', Helvetical, Arial, sans-serif;
      font-size: rem-calc(18px);
    }
    a {
      line-height: 18px;
      font-size: rem-calc(20px);
      text-decoration: underline;
    }
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #eeeeee;
    &:last-child {
      border-bottom: 0;
    }
  }
  &__contact-link {
    background: none;
    padding: 0 0 16px 25px !important;
    font-size: rem-calc(16px) !important;
    font-family: 'gilroy-medium' !important;

  }
  &__image-event {
    position: relative;
    margin-bottom: 23px;
    time {
      font-family: 'gilroy-bold', Helvetical, Arial, sans-serif;
      background: rgba(8,46,109,1);
      display: block;
      width: auto;
      padding: 20px 25px 0;
      font-size: rem-calc(15px);
      margin-top: 0px;
      line-height: rem-calc(15px);
      color: rgba(244, 246, 248, 1);
    }
    a {
      width: 100%;
      display: block;
      color: #ffffff;
      background: rgba(8,46,109,1);
      padding: 0px 25px;
      font-size: rem-calc(20);
      font-size: rem-calc(20px);
      font-family: 'gilroy-sbold';
      letter-spacing: 1px;
      text-decoration: none;
    }
  }
}

.announcement-list {
  h3 {
    font-family: "gilroy-bold", Helvetica, sans-serif;
    font-size: rem-calc(18px);
  }
  .announcement {
    &__content { 
      font-family: "Nunito", sans-serif;
      font-size: rem-calc(16px);
    }
    a {
      font-weight: bold;
    }
  }
}
.announcement {
  .views-field-field-agenda {
    .field-content {
      a {
        color: $ctec-blue;
      }
    }
  }
}

.news-list {
  &__item {
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 24px;
    padding-bottom: 16px;
    &:last-child {
      border-bottom: 0;
    }
    h3 {
      font-size: rem-calc(26px);
      padding: 0;
      margin: 0 0 18px;
      &--full-page {
        font-size: rem-calc(26px);
      }
    }

    h4 {
      font-size: rem-calc(19px);
      color: $ctec-green;
      font-family: "gilroy-bold";
      margin-bottom: 14px; 
      padding-top: 5px;
    }
    p {
      margin-bottom: 10px;
    }
    ul.links.inline {
      list-style-type: none;
      margin-left: 0;
      margin-top: 28px;
      li {
        font-family: 'gilroy-bold';
        font-size: rem-calc(16px);
        border-radius: 20px;
        padding: 4px 12px;
        background: #f4f6f8;
        display: inline-block;
      }
    }
  }
  &__content {
    font-size: rem-calc(16px);
    h4 {
      font-size: rem-calc(16px);
      color: #222222;
      font-family: "Nunito";
      line-height: rem-calc(24px);
    }
    article.align-left {
      float: none;

    }
  }
}

article.align-left {
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
}


.callout {
  border: 0;
  border-radius: 10px;
  max-width: 1450px;
  margin: 0 auto;
  margin-bottom: 18px;
  margin-top: 55px;
  clear: both;
}

.vp-center {
  align-items: normal !important;
}

.dropdown .is-dropdown-submenu span {
  padding: 0.7rem 1rem;
  a {
    color: $ctec-blue;
  }

}



.image-list-item {
  margin-top:10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dddddd;
  &__title {
    margin: 0;
    padding: 0 0 17px 0;
    color: #2CC912;
    background: none;
    font-size: rem-calc(24px);
    font-weight: 700;
    font-family: "gilroy-medium";
  }
  &__image-list-item-link a {
    @include button();
    font-weight: 600;
  }
  img {
    img {
      margin-top: 5px;
    }
  }
  .field-block-content--field-image-list-item-link,
  h2,
  .field-block-content--body {
    padding-left: 30px;
  }
  h5,
  .field-block-content--field-image-list-item-link {
    font-size: rem-calc(20px);
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .25rem;
    font-family: 'gilroy-sbold';
  }
}
/* disabled */
.image-list-item:last-of-type {
  padding-bottom: 80px !important;
  border-bottom: 0 !important;
}

/*  Letter  */

.letter {
  &__img {
    margin-top: 10px;
  }
  &__title {
    padding-bottom: 12px;
    padding-top: 0px;
    font-size: rem-calc(28px);
  }
  &__title,
  p {
    margin-right: 30px;
  }
  p {
    font-size: rem-calc(17px);
  }
  h4 {
    font-size: rem-calc(24px);
    padding-top: 20px;
    padding-bottom: 0;
  }
  h5 {
    font-size: rem-calc(18px);
    color: $ctec-green;
  }
}

.homepage {
  &__employees {
    padding: 120px 0 0 0;
    .medium-8 {
      padding-top: 15px;
    }
    h2.block-title {
      background: #f4f6f8;
      font-family: 'gilroy-bold', Helvetica, Arial, sans-serif;
      color: $ctec-blue;
      letter-spacing: .04rem;
      font-size: rem-calc(20px);
      line-height: rem-calc(20px); 
      padding: 23px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

.spotlight {
  padding-bottom: 30px;
  &__img {
    img {
      height: 210px;
      object-fit: cover;
      object-position: top center;
      padding-top: 9px;
    }
  }
  &__link {
    font-family: 'gilroy-bold';
    font-size: rem-calc(16px);
    border-radius: 20px;
    padding: 4px 12px;
    background: #f4f6f8;
    display: inline-block;
  }
  &__name,
  &__description,
  &__position,
  p
  {
    margin-left: 28px;
  }
  h3 {
    font-size: rem-calc(31px);
    padding-bottom: 12px;
  }
  h4 {
    margin-left: 28px;
    color: $ctec-blue;
    padding: 0;
    margin-bottom: 0;
    &.full-page {
      color: $ctec-green;
      font-size: rem-calc(22px);
    }
  }
  h6 {
    font-size: rem-calc(19px);
    padding-bottom: 18px;
    color: $ctec-green;
  }
  p {
    margin-top: 15p;
  }
}

.responsive-embed,
.flex-video {
  margin-top:20px;
  padding-bottom: 60%;
}

.quote {
  margin-bottom:34px;
  background: #F3FCF1;
  padding: 30px;
  border-radius: 18px;
  h4 {
    color: $ctec-green;
    font-family: "gilroy-bold";
    padding-bottom:10px;
  }
  div {
    background: #F3FCF1;
    border-radius: 18px;
    //padding: 30px;
    text-align: center;
    p {
      font-family: "gilroy-medium";
      font-size: rem-calc(20px);
      margin-bottom: 0;
      span {
        font-family: "gilroy-boldi";
        color: $ctec-blue;
      }
    }
  }
}

.board-member {
  padding-bottom: 16px;
  h3 {
    font-size: rem-calc(24px);
    margin-bottom: 0;
  }
  h4 {
    font-size: rem-calc(18px);
    color: $ctec-green;
  }
  img {
    height: 350px;
    object-fit: cover;
    object-position: top center;
    margin-bottom: 20px;
    max-width: 250px;
    max-height: 350px;
  }
}

.recent-meetings {
  h2.block-title {
    font-size: rem-calc 24px;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #f4f6f8;
    margin-left: 0;
    margin-right: 0;
    padding-top: 30px;
  }

}

.block-ctecclean-views-block-industry-partners-block-1 {
  padding-top: 50px;
}

.pathways {
padding-top: 40px;
padding-bottom: 20px;
}

.student-link {
  padding-bottom: 30px;
  padding-top: 20px;
}


.our-location {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  margin-bottom: 18px;
}


.off-canvas-wrapper {
  padding-top: 40px;
}

.mobile-menu {
  li {
    border-bottom: 1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Vision";
    font-size: rem-calc(20);
    line-height: rem-calc(38);
  }
  &__item--first {
    background: $secondary-color;
    a {
      color: $white;
    }
  }
  .nested {
    background: #082e6d;
    margin-left: 0;
  }
  .is-submenu-item {
    a {
      color: #fff;
      padding: 15px 0;
    }
    font-size: rem-calc(16px);
  }
}


.responsive-toggle {
  text-transform: uppercase;
  font-family: "Vision";
  font-size: rem-calc(21);
  line-height: 39px;
  font-weight: bold;
  height: 39px;
  padding: 0 12px;
  span {
    font-size: rem-calc(11);
    margin-right: 12px;
  }
}

.mobile-menu-button {
  @include breakpoint(medium only) {
    float: right;
  }
  @include breakpoint(small down) {
    width: 100%;
    margin-top: 15px;
    height: auto;
    padding: 10px 0;
    font-size: rem-calc(24px);
  }
}



.photoswipe-gallery .field-items {
  @include grid-layout(3, '.field-item', 30);
  img {
    margin-bottom: 30px;
  }
}

.image-gallery {
  .field-items {
    margin-left: -0.41666rem;
    margin-right: -0.41666rem;
  }
  &--block {
    padding-top: 50px;
    .node-title {
      display: none;
    }
    .block-title {
      font-size: rem-calc(34px);
      text-align: center;
      padding: 16px;
      margin-bottom:26px;
      color: $ctec-blue;
      background-color: #f4f6f8;
    }
  }
}



.button-arrow {
  background: #fff;
  border-radius: 40px;
  display: inline-block;
  line-height: rem-calc(22px);
  font-family: 'gilroy-bold';
  padding: 6px 52px 6px 23px;
  background-size: contain;
  &--default {
    color: $ctec-blue !important;
  }
  &--light-blue {
    background: #fff url(../images/button-arrow--light-blue.svg) no-repeat top right;
    border: 4px solid #fff;
  }
}

//lb override
.js-layout-builder-block {
  max-width: 100% !important;
  &.banner-outer-container {
    transform: skewY(0deg);
    box-shadow: none;
  }
}
#layout-builder-modal {
  max-height: 700px !important;
}
.ui-dialog {
  top: 100px !important;
}
#block-ctecclean-local-tasks {
  position: relative;
  margin: 0;
}

//horizontal ruler styling
.breakpoint-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  hr {
    border: 3px solid #33CB22;
    border-radius: 3px;
    width: 50%;
    margin: 2rem 0 2rem 0;
  }
}






// Calendar Iframe
.calendar-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}

// Students page styling
.students-title {
  margin-left: 2rem;
  color:#082E6D;
}

// Parents page styling
.resource-row {
  .medium-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

// Titan times view styles
#student-secondary-resources {
  margin: 1rem 4rem;
  .columns {
    border: 1px solid #ddd;
    margin: 0 .9375rem;
    padding: 14px 24px;
    .block-title {
      margin: 0;
    padding: 0;
    color: #2cc912;
    font-size: 22px;
    line-height: 2rem;
    text-transform: uppercase;
    font-family: gilroy-bold, Helvetica, sans-serif;
    letter-spacing: 1px;
    }
  }
}
.tt-ul {
  list-style: none;
  margin: 0;
  .cell {
    padding: .75rem 0;
    border-bottom: 1px solid #ddd;
    .views-field-field-file {
      .cell {
        padding: 0;
        border: 0;
      }
    }
  }
  
  .cell:last-child {
    border: none;
  }
  .field-content, a {
    font-size: 17px;
    color: $ctec-blue !important;
  }
  a:hover {
    transition: ease-in-out 200ms;
    text-decoration: 2px underline #2cc912;
  }
}
.secondary-resources {
  list-style: none;
  margin-left: 0;
  margin: 0;
  .cell {
    border-bottom: 1px solid #ddd;
    padding: .75rem 0;
    .views-field-field-link-to-resource, .views-field-field-file {
      .cell {
        padding: 0;
        border: 0;
      }
    }
  }
  .cell:last-child {
    border: none;
  }
  a {
    color: $ctec-blue;
  }
  a:hover {
    transition: ease-in-out 200ms;
    text-decoration: 2px underline #2cc912;
  }
}

//styling for cards using views
#cards-view-container {
  margin-bottom: 3rem;
  .views-element-container {
    margin: 3rem;
  }
  .block-title {
    color:#2CC912;
    margin-bottom: 1rem;
  }
  .views-view-responsive-grid {
    justify-items: center;
  }
  // styling for when exactly 4 cards are present
  .views-view-responsive-grid:has(> :nth-child(4):last-child) {  
    grid-template-columns: repeat(4, 1fr);
  }

  .resources-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    .resources-row {
      max-width: 450px;
      width: 100%;
      .views-field-field-link-to-resource {
        .field-content {
          display: flex;
          flex-direction: column;
          .card-link-cont {
            background-color: #183755;
            .edit-link {
              color: white;
            }
          }
          .link-w-title {
            padding: 1rem;
            background-color: #183755;
            color: white;
            margin: 0;
          }
        }
        &:hover {
          transition: all ease-in-out 200ms;
          transform: scale(1.05);
          border: 1px solid #2CC912;
          // border-top-left-radius: 10px;
          // border-top-right-radius: 10px;
          border-radius: 10px;
          .card-link-cont {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            .link-w-title {
              border-bottom-left-radius: 10px;
              text-decoration: underline #2CC912 3px;
            }
          }
          img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
      }
      
    }
    // .resources-row:nth-child(-n +4) {
    //   flex-basis: calc(100% / 3);  
    // }
    // .resources-row:nth-child(n+5) {
    //   flex-basis: calc(100% / 2);
    // }
  }
}

// industry partners view block
.views-element-container {
  h2.block-title.industry-partners-title {
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: #082E6D !important;
  }
  .industry-partners {
    margin: 0 2rem;
  }
}

// galleries
.location-gallery {
  max-width: 80vw;
  margin: 3rem auto;
  h2 {
    color: #082E6D;
  }
  li.pager__item.is-active {
    a {
      color: white;
      &:hover {
        color: black;
      }
    }
  }
}

//compliance view
.compliance-view {
  margin: auto;
  header {
    color: #082E6D;
  }
  h3 {
    color: #2CC912;
  }
  a:hover {
    text-decoration: underline #2CC912 3px;
  }
  .compliance-file, .compliance-link {
    ul {
      list-style: none;
      a {
        color: #082E6D;
        font-size: 25px;
        font-weight: 400;
        font-family: gilroy-sbold, Arial, Helvetica, sans-serif;
      }
    }
  }
}

//pagination
.pagination {
  .pager__item.is-active {
    a {
      color: white;
      &:hover {
        color: black;
      }
    }
  }
}

// avoid FOUC in nav
.toolbar-loading {
  display: none;
}


// styling for inline page images
.field-node--body {
  .field-items {
    .field-item {
      img.align-left {
        margin-right: 3rem;
      }
    }
  }
}

// footer styling mobile for firefox
@media only screen and (max-width: 1023px) {
  .footer {
    flex-wrap: wrap;
    .footer-container {
      flex-wrap: wrap;
    }
  }
}

// students and parent resource list styling
#student-secondary-resources {
  .columns {
    margin: 0;
  }
}

// margin classes
.mt-4 {
 margin-top: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}

// link colors overridden in drupal 10.4.3
.counseling-text {
  a {
    color: $ctec-blue !important;
  }
}
