{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% if content %}
  <div{{ attributes.addClass('row','region--header') }}>
    <div class="columns small-12 large-3 medium-3 header__logo">
      <a href="/">
        <img src="/{{ directory }}/images/header__logo.png" class="header__logo" />
      </a>
    </div>
    <div class="columns small-12 large-9 medium-9 header__nav">
    {# <div class="sub-header-nav top-bar">
      <div class="top-bar-right sub-nav-right">
        <ul class="dropdown menu sub-nav-menu" data-dropdown-menu>
            <li class="menu-item">
              <a class="top-bar-link">Parents</a>
            </li>
            <li class="menu-item">
              <a class="top-bar-link" href="/current-students">Current Students</a>
            </li>
            <li class="menu-item">
              <a class="top-bar-link" href="/industry-partners">Industry Partners</a>
            </li>
            <li class="menu-item">
              <span class="top-bar-link" style="padding: 0 10px; font-weight: bold; font-size: 18px;">|</span>
            </li>
            <li class="menu-item">
              <a class="top-bar-link" href="/compliance">Compliance</a>
            </li>
            <li class="menu-item">
              <a class="top-bar-link" href="https://ctec.fcoe.org/files/2023-04/FCSS_CSSP_2023-2024_2023-04-11.pdf" target="_blank">School Safety Plan</a>
            </li>
            <li class="menu-item">
              <span class="top-bar-link" style="padding: 0 10px; font-weight: bold; font-size: 18px;">|</span>
            </li>
            <li class="menu-item">
              <a class="top-bar-link" href="/bell-schedule">School Schedules</a>
            </li>
            <li class="menu-item">
              <a class="top-bar-link" href="/yearly-calendar">Academic Calendar</a>
            </li>
        </ul>
      </div>
    </div> #}
      <div class="header__contact-information">
        <a href="https://www.facebook.com/careertechnicaleducationcharter/" target="_blank"><img class="header__social-icon" src="/{{ directory }}/images/header__facebook.png" /></a>
        <a href="https://www.instagram.com/careertechedcharter/" target="_blank"><img class="header__social-icon" src="/{{ directory }}/images/header__instagram.png" /></a>
        <a href="https://www.youtube.com/user/FresnoCOE" target="_blank"><img class="header__social-icon" src="/{{ directory }}/images/header__youtube.png" /></a>
        <a href="tel:559-443-4861" target="_blank"><img class="header__social-icon" src="/{{ directory }}/images/header__phone.png" /></a>
      </div>
      {{ content }}
      {# <button type="button" class="mobile-menu-button responsive-toggle button align-right" data-toggle="offCanvasRightPush"><span class="menu-icon"></span>Site Menu</button> #}
    </div>

  </div>
{% endif %}

